 #map {
     padding-bottom: 55%;
     position: relative;
}
 .button {
     -webkit-transition-duration: 0.5s;
    /* Safari */
     transition-duration: 0.5s;
}
 .button:hover {
     background-color: #4CAF50;
     color: white;
}
/* * Off Canvas * -------------------------------------------------- */
 @media screen and (max-width: 768px) {
     .row-offcanvas {
         position: relative;
         -webkit-transition: all 0.25s ease-out;
         -moz-transition: all 0.25s ease-out;
         transition: all 0.25s ease-out;
         background:#ecf0f1;
    }
     .row-offcanvas-left .sidebar-offcanvas {
         left: -20%;
    }
     .row-offcanvas-left.active {
         left: 20%;
    }
     .sidebar-offcanvas {
         position: absolute;
         top: 0;
         width: 20%;
         margin-left: 12px;
    }
}

 #sidebar {
     padding:15px;
     margin-top:50px;
}
