

.page_title {
    padding: 15px 5px 10px 5px;
}

.hr-color{
    border-top : 1px double;
    border-top-color: grey;
}

.list_cell {
    padding-top: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #808080;
}


.search-box {
    width: 75%;
    font-size: 1em;
    text-align: center;
}


 #map {
     min-height: 850px;
     position: relative;
     overflow: hidden;
}


html,body{
    height: 100%;
}

.sidebar_width{
        min-width: 300px;
}

 .button {
     -webkit-transition-duration: 0.5s;
    /* Safari */
     transition-duration: 0.5s;
}
 .button:hover {
     background-color: #4CAF50;
     color: white;
}


.cell-customization{
    color: #808080;
    margin-top: 5px;
}

#sidebar{
    min-height: 850px;
}
